body {
    margin: 1rem;
    background-image: url(img/tile.jpg);
    font-family: 'Indie Flower', cursive;
}
header {
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.container {
    width: 70%;
    margin: 0 auto;
}
form {
    height: 100%;
    border-radius: 15px;
    background: radial-gradient(ellipse at center, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
    margin-bottom: 1rem;
    box-shadow: 3px 3px 10px;
    text-align: center
}
textarea {
    width: 60%;
    font-family: 'Indie Flower', cursive;
    font-size: 1rem;
    resize: none;
    display: block;
    overflow-x: hidden;
    border-radius: 10px;
    margin: 0 auto;
}
textarea::-webkit-input-placeholder {
    color: #1a4791;
}
form label:nth-child(2) {
    width: 40%;
    padding-right: 1rem;
}
label span {
    font-family: 'Indie Flower', cursive;
    color: #1a4791;
    display: block;
    font-weight: bold;
    color: black;
}
input[type="date"],
input[type="time"] {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #aaa;
}
.submit {
    font-family: 'Indie Flower', cursive;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 60%;
}
.note_container {
    display: flex;
    flex-wrap: wrap;
}
.note {
    height: 200px;
    margin-bottom: 3rem;
    position: relative;
    opacity: 1;
    transition: opacity 2s;
}
.pin {
    width: 20px;
    height: 20px;
    background-color: #ca0303;
    position: absolute;
    border-radius: 50%;
    left: 40%;
    top: 2%;
    box-shadow: 2px 2px 4px;
}
.trash_icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    right: 12%;
    display: none;
    border-radius: 50%;
    background-image: url("img/trash.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;	
    background-color: #fff;
    outline:none;
}
.note:hover .task {
    box-shadow: 1px 1px 10px #888888;
}
.note:hover .trash_icon {
    display: block;
}
.noteContent {
    width: 90%;
    height: 100%;
    padding-top: 2rem;
    background-color: #ded584;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 5px;
    margin: 0 auto;
}
.task {
    display: block;
    border-radius: 3px;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    background-color: #f3e881;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre;
    font-family: 'Indie Flower', cursive;
}
.date {
    margin-left: 1rem;
    font-family: 'Indie Flower', cursive;
    display: block;
}
.time {
    margin-left: 1rem;
    font-family: 'Indie Flower', cursive;
}
.fade-out {
    opacity: 0;
    transition: opacity 2s
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: #f3e881;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}
